html 
    head 
        title Louis!!! 
    body(class=["myClass"])
        h1(id='MyId') Library
        p   
            h3 Trade here
        ul 
            each val in list 
                li= val